*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FF6666;


}
.nav-container{
    display: flex;
    flex-direction: column;
    color: white;
    
}
.menu{
    text-align: right;
    padding: 10px 30px;
    border-bottom: 2px solid #ffffff;
    
    
    
}
.menu li a{
    text-decoration: none;
    color: white;
    
}
.menu li {
    display: inline;
    margin-left: 30px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    
    
    
}
.menu li a:hover{
    color: rgb(41, 35, 35);
    transition: 0.4s;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 50px;
    margin-top: 10px;
    
    
}

.form-article input, select {
    height: 30px;
}
.form-article textarea[id=text] {
    min-height: 200px;
}
.new-article form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
