*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
body{
    background-color: #FF6666;
    width: 100%;
    height: 100%;

    

}
.Landing-Page{
   display: flex;
   flex-direction: column;
   
   /* padding: 50px; */
}
.head-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-content: center;
    margin: auto;
    padding: 20px 20px;
   
}
.left-side h3{
    color: white;
    
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
   
    color: white;
    margin-top: 150px;
    
    
}
.left-side{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.left-side h4{
    margin-bottom: 10px;
    color: bLACK;
    font-size: 25px;
}
.right-side{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
    
}
.menu{
    list-style-type: none;
    line-height: 20px;
    text-decoration: none;
}
.menu li{
    display: inline;
    margin-left: 20px;
    color: white;
}
.icons li{
    display: inline;
}
.middle-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    

    
}
.middle-content h2{
    padding: 0px 100px;
}

.content{
    display: flex;
    padding: 10px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    
}
.content h5{
    margin-bottom: 10px;
}
.content hr{
    margin-top: 1vh;
    margin-bottom: 10px;
}
.down middle-content{
    width: 100%;
    
    margin: auto;
 
}
.right-side h2{
    font-size: 15px;
    margin-bottom: 10px;
}
   